body {
  text-align: center;
  background-color: slategray;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0%;
  padding: 1em;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  height: 6em;
  width: 6em;
  animation-name: spinning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  padding: 6px;
}

.back{
  margin-top: 3em;
}