.article-card {
  background-color: white;
  color: #262626;
  box-shadow: rgba(240, 238, 238, 0.963) 0px 0.0625em 0.0625em,
    rgba(255, 255, 255, 0.458) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.226) 0px 0px 0px 1px inset;
  margin-top: 3%;

  margin-right: 10px;
  border-radius: 3px;
  width: 300px;
  height: 320px;

}
.title{
  margin: 1%;

}
.card-img {
  padding-top: 1px;
  width: 99%;
  height: 270px;

}
